BQ_PROJECT_ID=ccibt-hack25ww7-713
BQ_DATASET_ID=multi_agent_workflow

# ML Dev backend config
GOOGLE_API_KEY=

# Vertex backend config
# Rag Engine only works with Vertex. So we should configure it to use Vertex:
GOOGLE_CLOUD_PROJECT=ccibt-hack25ww7-713
GOOGLE_CLOUD_LOCATION=us-central1

BQ_TABLES=
